$ColorBlue: #337ab7;
$ColorDarkBlue: #286090;
$ColorGreen: #5cb85c;
$ColorDarkGreen: #449d44;
$ColorYellow: #f0ad4e;
$ColorDarkYellow: #ec971f;
$ColorRed: #d9534f;
$ColorDarkRed: #c9302c;
$ColorWave: #5bc0de;
$ColorDarkWave: #31b0d5;
$ColorBorder: #0e151d;
$ColorBackgroundDark: #060b11;
$ColorLightGray: #aaaaaa;
$ColorDarkGray: #626b74;
$ColorTextGray: #d5d5d5;
$MenuHeight: 65px;
$ColorBackgroundLight: #080f17;
$ColorGray1: #d8d8d8;